{% extends "blog/base.html" %} {%load static%} {%block content%}

<div class="col-sm-10">
  <h3 class="text-white my-5">About page</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, velit? Natus
    architecto molestiae similique aliquid nemo unde! Unde architecto tempore
    error minima quam, consectetur culpa a ipsam, veniam aliquam pariatur ut
    tenetur hic totam quos facilis possimus beatae! Esse reiciendis nisi tempora
    nemo ex nobis, exercitationem totam voluptatibus non similique!
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita,
    praesentium dolores, quasi eveniet, aliquam assumenda inventore modi dicta
    voluptate distinctio quos vitae. Vitae laboriosam, architecto dicta tenetur
    aut harum iusto dolorum. Velit, alias nulla tenetur impedit doloribus sed
    fuga ducimus dolores dolorum necessitatibus reiciendis, dolor voluptatem
    cumque perspiciatis aperiam maiores.
  </p>
</div>

{%endblock content%}
